.main{
    background-color: #000080;
    color: white;
    padding:30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr ;
    gap: 20px;
   /* min-height: 40vh; */

   
}
.subone{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.7rem;
    line-height: 1rem;
    /* background-color: yellow; */
}
.label{
    font-size: 0.8rem;
    line-height: 1rem;
}
.texts{
    font-size: 0.7rem;
    line-height: 1rem;
}
.subcont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 0.7rem;
    line-height: 1rem;
    width: 80%;
}
.inputcont{
    border: 1px solid white;
    padding: 3px 5px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    width: 10px;
    height: 10px;
}
.lastcont{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lastconts{
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont{
   /* background-color: yellow; */
   display: flex;
   align-items: center;
   gap: 10px;
  
}
.conts{
    /* background-color: yellow; */
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    gap: 10px;
   
 }
.barcont{
    flex: 1;

}
.barconts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.googlecont{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.googleconts{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    gap: 10px;
    /* background-color: red; */
    width: 100%;
}
.imgs{
    
    width: 40%;
    height: auto;
}
.img{
    width: 100%;
    /* width: auto; */
    height: auto;
}
.icons{
    width: 15px;
    height: 15px;
}
.socialcont{
    display: flex;
    gap: 10px;
    align-items: center;
}
.link{
    list-style: none;
    text-decoration: none;
    color: white;
    
}

@media (min-width:768px) {
    .main{
        /* background-color: black; */
        color: white;
        padding:30px;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 20px;
        /* min-height: 40vh; */
    }
    .icon{
        width: 13px;
        height: 13px;
    }
    .icons{
        width: 25px;
        height: 25px;
    }
    .inputcont{
        width: 50%;
    }
    .img{
        width: 100%;
        /* width: auto; */
        height: auto;
    }
   .imgs{
    width: 30%;
    height: auto;
   }
   .subone{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    /* background-color: yellow; */
}
.label{
    font-size: 1.3rem;
    line-height: 1.7rem;
}
 
    
}

@media (min-width:1024px) {
    .main{
        /* background-color: black; */
        color: white;
        padding:70px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
        gap: 30px; 
        max-height: 50vh;
        /* min-height: 40vh; */
    }
    .inputcont{
        border: 1px solid white;
        padding: 3px 5px;
        width: 80%;
    }
    .icon{
        width: 12px;
        height: 12px;
    }
    .texts{
        font-size: 0.6rem;
        line-height: 1rem;
    }
    .icons{
        width: 17px;
        height: 17px;
    }
    .img{
        width: 100%;
        /* width: auto; */
        height: auto;
    }
    .imgs{
    
        width: 40%;
        height: auto;
    }
    .label{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .subone{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 0.7rem;
        line-height: 1rem;
        /* background-color: yellow; */
    }
    
}

@media (min-width:1280px) {
    .main{
        /* background-color: black; */
        color: white;
        padding:100px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
        gap: 30px;    
        min-height: 40vh;   
    }

    .inputcont{
        border: 1px solid white;
        padding: 3px 5px;
        width: 70%;
    }
    .texts{
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .icons{
        width: 20px;
        height: 20px;
    }
    .img{
        width: 100%;
        /* width: auto; */
        height: auto;
    }
    .label{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .subone{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 0.9rem;
        line-height: 1.5rem;
        /* background-color: yellow; */
    }
}
@media (min-width:1440px) {
    .img{
        width: 100%;
        /* width: auto; */
        height: auto;
    }
}