.main{
    padding: 50px;
}


.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.subone{
    width: 100%;
}

.subtwo{
    width: 100%;
}
.img{
    width:90%;
    height: auto;
}
.label{
    font-size: 1.8rem;
    line-height: 2.8rem;
}
.subtext{
    font-size: 1.3rem;
    line-height:2.0rem;
    margin-top: 30px;
}
.mobilecont{
    padding: 10px 0;
}

@media (min-width:768px) {
    .main{
     padding: 40px;
    }
    .cont{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
    .img{
     width:90%;
     height: auto;
 }
 }

@media (min-width:1024px) {
   .main{
    padding: 120px;
   }
   .cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
   .img{
    width:90%;
    height: auto;
}
}

@media (min-width:1280px) {
    .main{
     padding: 130px;
    }
    .img{
        width:90%;
        height: auto;
    }
 }