.main{
    padding: 10px 30px;
}
.label{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px 0;
}
.text{
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.7rem;
}
.formcont{
    padding: 20px 0;
}
.divcont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.divconts{
    padding: 10px 0;
}

.input{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.input:focus-visible{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}
.buttoncont{
    background-color: #000080;
    color: white;
    padding: 10px ;
    width: 50%;
    border-radius: 10px;
    text-align: center;
}
.labeltext{
    font-size: 0.9rem;
    line-height: 1.7rem;
}

@media (min-width:768px) {
    .main{
        padding: 20px 50px;
    }
    .label{
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
        padding: 20px 0;
    }
    .text{
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.7rem;
    }
    .formcont{
        padding: 40px 0;
    }
    .divcont{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .input{
        border: 1px solid gray;
        padding: 10px;
        border-radius: 10px;
        outline: none;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .input:focus-visible{
        padding: 10px;
        border-radius: 10px;
    }
    .form{
        display: grid;
        grid-template-columns: 2fr 2fr;
       
        padding: 20px 0;
    }
    .buttoncont{
        background-color: #000080;
        color: white;
        padding: 10px 0;
        width: 49%;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.2rem;
        
    }
    .labeltext{
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
}

@media (min-width:1024px) {
    .main{
        padding: 50px 120px;
    }
    .label{
        text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
        padding: 20px 0;
    }
    .text{
        text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;
    }
    .formcont{
        padding: 40px 0;
    }
    .divcont{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .input{
        border: 1px solid gray;
        padding: 10px;
        border-radius: 10px;
        outline: none;
    font-size: 0.9rem;
    line-height: 2rem;
    }
    .input:focus-visible{
        padding: 10px;
        border-radius: 10px;
    }
    .form{
        display: grid;
        grid-template-columns: 2fr 2fr;
       /* gap: 50px; */
       column-gap: 50px;
        padding: 20px 0;
    }
    .buttoncont{
        background-color: #000080;
        color: white;
        padding: 10px 0;
        width: 49%;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        
    }
    .labeltext{
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media (min-width:1280px) {
    .main{
        padding: 50px 150px;
    }
}