.main{
    padding: 30px;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: red; */
}
.label{
    padding:30px ;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 600;
}
.imgdiv{
    /* background-color: red; */
    width: 100%;
    height: auto;
    flex: 1;
}
.textdiv{
    flex: 1;
}
.subcont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: gray;
    border-radius: 0px;
    border-radius: 20px;
    background-color: whitesmoke;
   
   
   
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 30px;
    /* align-items: center; */
    padding:50px 30px;
    
}
.picont{
    /* padding:0 20px;  */
}
.text{
    font-size:1.0rem;
    line-height: 1.0rem;
    font: bold;
    color: black;
}
.textone{
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 10px 0;
}
.textsee{
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 10px 0;
    color: #800000;
}
.textsee:hover{
    text-decoration: underline;
}
.subred{
    border: 1px solid red;
    width: 99.8%;
    margin-left: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.icon{
    color: gray;
    width: 15px;
    height: 15px;
}
.icondiv{
    padding:0 10px; 
    display: flex;
    gap: 20px;
    align-items: center; 
}
.num{
    color: gray;
}
.one, .two{
    display: flex;
    gap: 5px;
    align-items: center;
}
.yellow {
    color: yellow;
  }
  .comment{
    color: black;
    border: 1px solid gray;
   
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .input{
    outline: none;
  }
  

@media (min-width:768px) {
    .label{
        padding:30px ;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2;
        /* font-weight: bold; */
    } 
    .cont{
        /* display: grid;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 2fr 2fr; */
        gap: 50px;
        /* background-color: red; */
        padding: 0;
    }
    .subcont{
        padding: 30px 0 0 0;
        /* background-image: url(../../../public//blog.png); */
       
    }
    .subred{
        border: 1px solid red;
        width: 97%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 5vh; */
        padding: 20px 10px;
    }
    .blog{
        padding:50px 50px;
    }
    .imgdiv{
        /* background-color: red; */
    }
    .text{
        font-size: 2rem;
        line-height: 1rem;
        font: bold;
        /* background-color: red; */
        padding: 20px 0 0 0;
    }
    .textone{
        font-size: 1.5rem;
        line-height: 2.1rem;
        padding: 30px 0 5px 0;
    }
    .textsee{
        font-size: 1.3rem;
        line-height: 1.5rem;
        padding: 10px 0;
    }
   
    .icon{
        color: gray;
        width: 20px;
        height: 20px;
    }
    .comment{
        color: black;
        border: 1px solid gray;
       
        font-size:0.9rem;
        line-height: 1rem;
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
      }
}
@media (min-width:1024px) {
    .main{
        padding: 50px 120px;
    }
    .label{
        padding:30px ;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2;
        /* font-weight: bold; */
    } 
    .subcont{
        padding: 0px 0;
        min-height: 30vh;
       
    }
    .cont{
        /* display: grid;
        grid-template-rows: 2fr 2fr 2fr; */
        /* grid-template-columns: 2fr 2fr 2fr; */
        gap: 50px;
        /* background-color: red; */
        padding: 0;
    }
    .blog{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
       
    }
    .subred{
        border: 1px solid red;
        width: 96.6%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
       margin-top: 30px;
    }
    .text{
        font-size: 1.4rem;
        line-height: 1rem;
        font: bold;
    }
    .textone{
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 20px 0 5px 0;
    }
    .textsee{
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 10px 0;
    }
    
    .comment{
        
        font-size: 0.7rem;
        line-height: 1rem;
      }
}
@media (min-width:1280px) {
    .main{
        padding: 50px 150px;
    }
    .label{
        padding:30px ;
      
        text-align: center;
        font-size: 1.8rem;
        line-height: 2;
        /* font-weight: bold; */
    }
    .subred{
        border: 1px solid red;
        width: 96.4%;
        margin-left: 3px;
    } 
    .cont{
        gap: 50px;
        /* background-color: red; */
        padding: 0;
    }
    .subcont{
        padding: 0;
        /* background-image: url(../../../public//blog.png); */
        min-height: 50vh;
       
    }
    .text{
        font-size: 1.5rem;
        line-height: 1rem;
        font: bold;
    }
    .textone{
        font-size: 1rem;
        line-height: 1.7rem;
        padding: 20px 0 5px 0;
    }
    .textsee{
        font-size: 1rem;
        line-height: 1.7rem;
        padding: 10px 0;
    }
    .blog{padding:70px 40px;}
}
@media (min-width:1440px) {
    .subred{
        border: 1px solid red;
        width: 96.5%;
        margin-left: 3px;
       
    }
    .blog{
        padding:100px 70px;
    }
}