.main{
    background-color: #4B0404;
    color: white;
    padding: 30px 10px;
}
.submain{
    display: flex;
    flex-direction: column;
   gap: 10px;
}
.contone, .contwo{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.iconcont{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    line-height: 1rem;
    background-color: white;
    color: black;
    padding: 5px ;
    
    /* width: 15%; */
   
}
.iconconts{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    line-height: 1rem;
    background-color: white;
    color: black;
    padding: 5px ;
    width: 80%;
    
    /* width: 15%; */
   
}
.icon{
    width: 15px;
    height: 15px;
}
.locationcont{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 2.5;
    
}
.carticon{
    width: 20px;
    height: 20px;
}
.input{
    width: 100%;
    outline: none;
}





@media (min-width:768px) {
   .iconcont{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
    
    /* width: 15%; */
   
} 
.icon{
    width: 25px;
    height: 25px;
}
.iconconts{
   
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 5px ;
    width: 80%;
    
    /* width: 15%; */
   
}
.carticon{
    width: 30px;
    height: 30px;
}
}


@media (min-width:1024px) {
    .main{
    padding: 30px 80px;
}
  .submain{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}  
.contone{
    gap: 10px;
    flex: 3;
}
.contwo{
    flex: 1.5;
    gap: 10px;
}
.iconcont{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
    
    
    /* width: 15%; */
   
} 
.icon{
    width: 15px;
    height: 15px;
}
.iconconts{
   
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 5px ;
    width: 100%;
   
}
.carticon{
    width: 20px;
    height: 20px;
}
}


@media (min-width:1280px) {
    .iconcont{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
    
    /* width: 15%; */
   
}
   .icon{
    width: 20px;
    height: 20px;
} 
.iconconts{
     font-size: 0.9rem;
    line-height: 1rem;
}
.carticon{
    width: 25px;
    height: 25px;
}
}